<div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input type="text"
                class="form-control"
                placeholder="Search doctors"
                (keyup)="search(txtTerm.value)"
                #txtTerm
        >
      </div>
    </div>
  </div>
</div>
<div *ngIf="loading" class="row animated fadeIn fast">
  <div class="col-12">
    <div class="alert alert-info text-center" role="alert">
      <h4 class="alert-heading">Cargando</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Por favor espere</p>
    </div>
  </div>
</div>
<div class="row animated fadeIn fast" *ngIf="!loading" >
  <div class="col-12">
    <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-8">
              <h4 class="card-title">Doctors: ({{totalDoctors}})</h4>
              <h6 class="card-subtitle">Doctors registered in the application</h6>
            </div>
            <div class="col">
              <div class="text-right">
                <a class="btn btn-primary" routerLink="/dashboard/doctor/new">
                  <i class="fa fa-hospital-o"></i>
                    Create Doctor
                </a>
              </div>
            </div>
          </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="w100">Avatar</th>
                            <th>Name</th>
                            <th class="text-nowrap w100">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let doctor of doctors">
                            <td class="text-center">
                              <img class="avatar cursor"
                                    src="{{ doctor.img! | imagen:'doctors'}}"
                                    alt="doctor.name"
                                    (click)="openModal(doctor)"
                                    >
                            </td>
                            <td>{{doctor.name}}</td>
                            <td class="text-nowrap text-center">
                                <a  data-toggle="tooltip"
                                    data-original-title="Save"
                                    class="cursor"
                                    [routerLink]="['/dashboard/doctor', doctor._id]"
                                >
                                  <i class="fa fa-pencil text-inverse m-r-10"></i>
                                </a>
                                <a  data-toggle="tooltip"
                                    data-original-title="Delete"
                                    class="cursor"
                                    (click)="deleteDoctor(doctor)"
                                >
                                  <i class="fa fa-close text-danger"></i>
                                </a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div *ngIf="txtTerm.value.length === 0">
              <button class="btn btn-secondary" (click)="changePage(-5)">Before</button>
              &nbsp;
              <button class="btn btn-secondary" (click)="changePage(+5)">Next</button>
            </div>
        </div>
    </div>
  </div>
</div>
