<div class="row">
  <div class="col-6">
    <app-donna
        title="Titulo 1"
        [labels] = "labels"
        [color]="color"
        [data]="data"
    >
    </app-donna>
  </div>
  <div class="col-6">
    <app-donna
        title="Titulo 2"
        [labels] = "labels2"
        [color]="color2"
        [data]="data2"
    ></app-donna>
  </div>
  <div class="col-6">
    <app-donna
        title="Titulo 3"
        [labels] = "labels3"
        [color]="color3"
        [data]="data3"
    ></app-donna>
  </div>
  <div class="col-6">
    <app-donna
    title="Titulo 4"
    ></app-donna>
  </div>
</div>
